@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');


/* -------------------------Common Style------------------------ */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  font-size: 62.5%;
}

body {
  font-family: 'Poppins', sans-serif;
}

h1,
h3 {
  color: #606d5f;
}

h3 {
  font-weight: 750;
  font-size: 2.2rem;
  text-transform: capitalize;
}

p,
li,
a,
button {
  color: #888888;
}

p {
  font-size: 1.8rem;
  /* line height */
  line-height: 150%;
  font-size: normal;
  font-weight: normal;
}

a {
  text-decoration: none;
  cursor: pointer;
}

li {
  list-style: none;
}

button {
  padding: 1rem 3rem;
  border: none;
  border-radius: 2rem;
  outline: none;
  /* line height */
  line-height: 3.6rem;
  text-transform: capitalize;
  cursor: pointer;
  font-style: normal;
  font-weight: normal;
  font-size: 2rem;
}



/* ------------------------Header------------------ */
header {
  /* Important! */
  padding: 0 20rem;
  width: 100%;
}

/* Nav Section */
header nav {
  display: flex;
  justify-content: space-between;
  height: 12rem;
  align-items: center;
}

header nav .logo h1 {
  font-size: 3rem;
}

header nav .menu {
  display: flex;
}

header nav .menu a {
  margin-left: 4rem;
}

header nav .menu a li {
  font-size: 2rem;
  /* line height */
  line-height: 3.6rem;
  text-transform: capitalize;
  /* Transition */
  transition: all 0.2s;
}

header nav .menu a li:hover {
  color: #4b709e;
}

/* ------------------------Main------------------ */
/* Hero Section */
.hero {
  /* Important! */
  padding: 0 20rem;
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-bottom: 5rem;
}

/* Hero content Part */
.hero .hero-content {
  /* Important! */
  width: 50%;
  height: 80vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.hero .hero-content h1 {
  /* Important! */
  width: 40rem;
  font-size: 5rem;

  line-height: 5rem;
  margin-bottom: 4rem;
  text-transform: capitalize;
}

.hero .hero-content p {
  width: 45rem;
  margin-bottom: 3rem;
}

.hero .hero-img {
  /* Important! */
  width: 50%;

  display: flex;
  justify-content: center;
  align-items: center;
}

.hero .hero-img img {
  /* Important! */
  width: 100%;
}




/* Product Section */
.product {
  /* Important! */
  padding: 0 20rem;
  width: 100%;
  height: 100%;

  margin-bottom: 20rem;
}

.product h1 {
  font-size: 5rem;
  line-height: 5rem;
  margin-bottom: 4rem;
  text-align: center;
  text-transform: capitalize;
}

.product .product-container {
  /* Important! */
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2rem;
  justify-content: center;
}

.product .product-container .product-card {
  /* Important! */
  width: 25rem;
  height: 25rem;

  background-color: #efefefef;
  border-radius: 2rem;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 2rem;
  margin-bottom: 2rem;
}

.product .product-container .product-card img {
  /* Important! */
  width: 80%;
  border-radius: 50%;
}

.product .product-container .product-card .buy-btn {
  background-color: #ffff;
  border: 2px solid #efefefef;
  padding: 1rem 2rem;
  border-radius: 1rem;
  line-height: 1rem;
  font-size: 1.5rem;
  margin-top: 1rem;
}



/* ------------------------Footer------------------ */
footer {
  margin-top: 5rem;
  font-size: 1rem;
  height: 5rem;

  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #efefefef;
}



/* ----------------------------------Media Query---------------------- */
/* ## Not fully ok ## */
@media screen and (max-width: 1200px) {

  header,
  .hero,
  .product {
    /* Important! */
    padding: 0 10rem;
  }

  header nav .logo h1 {
    font-size: 3rem;
  }

  .hero .hero-contant h1 {
    width: 20rem;
    font-size: 3rem;

  }

  /* header nav .logo h1 {
    font-size: 4rem;
    width: 35rem;
  } */

  .hero .hero-contant p {
    width: 20rem;
  }

  .hero .hero-img img {
    /* Important! */
    width: 80%;
  }


}


@media screen and (max-width: 900px) {

  header,
  .hero,
  .product {
    /* Important! */
    padding: 0 9rem;
  }

  .hero,
  .product {
    margin-bottom: 10rem;
  }

  header nav .logo h1 {
    font-size: 3rem;
  }

  header nav .menu a {
    margin-left: 2rem;
  }

  header nav .menu a li {
    font-size: 2rem;
  }

  .hero {
    /* Important! */
    flex-direction: column;
  }

  .hero .hero-content {
    /* Important! */
    order: 2;
    width: 100%;
  }

  .hero .hero-content h1 {
    font-size: 4rem;
    width: 100%;
    line-height: 6rem;
    margin-bottom: 2rem;
  }

  .hero .hero-content p {
    font-size: 2rem;
    width: 100%;
    margin-bottom: 5rem;
  }

  .hero .hero-img {
    /* Important! */
    order: 1;
    width: 100%;
  }


  .product h1 {
    font-size: 4rem;
    line-height: 6rem;
    margin-bottom: 2rem;
  }

  .product .product-container {
    grid-template-columns: repeat(2, 1fr);
  }

  footer p {
    font-size: 2rem;
  }
}


@media screen and (max-width: 576px) {

  header,
  .hero,
  .product {
    /* Important! */
    padding: 0 5rem;
  }

  .hero,
  .product {
    margin-bottom: 12rem;
  }

  header nav .logo h1 {
    font-size: 2rem;
  }

  header nav .menu a {
    margin-left: 1rem;
  }

  header nav .menu a li {
    font-size: 1.5rem;
  }

  .hero {
    /* Important! */
    flex-direction: column;
  }

  .hero .hero-content {
    /* Important! */
    order: 2;
    width: 100%;
  }

  .hero .hero-content h1 {
    font-size: 2rem;
    width: 100%;
    line-height: 6rem;
    margin-bottom: 2rem;
  }

  .hero .hero-content p {
    font-size: 2rem;
    width: 100%;
    margin-bottom: 5rem;
  }

  .hero .hero-img {
    /* Important! */
    order: 1;
    width: 100%;
  }


  .product h1 {
    font-size: 3rem;
    line-height: 6rem;
    margin-bottom: 2rem;
  }

  .product .product-container {
    grid-template-columns: repeat(1, 1fr);
  }

  footer p {
    font-size: 1.3rem;
  }
}